.shop{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.shop__hero{
    width: 96%;
    height: 24rem;
    margin-top: 2rem;
}
.shop__title{
    position: absolute;
    top: 13rem;
    left: 10%;
    font-size: 6.4rem;
    font-family: var(--font-main);
    font-weight: 700;
    line-height: 8rem;
    color: var(--color--white);
}
.shop__pagination{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1.5rem 0rem;
}
.shop__pagination--text{
    width: 14rem;
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    font-family: var(--font-main);
    color: var(--color--dimgray);
}
.shop__pagination--topbox{
    width: 40rem;
    height: 100%;
}
.shop__products{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 1rem;
    padding: 0 3rem;
}
.shop__pagination--botbox{
    width: 100%;
    height: 10rem;
}