.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header__nav{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.2rem;
    background-color: var(--color--white);
    box-shadow: 0rem 0.7rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
}
.header__navbar{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    list-style:none;
}
.header__navbar--logo{
    width: 3.7em;
    height: 4rem;
}
.header__navbar--options{
    margin-left: 5rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4.8rem;
    font-family: var(--font-main);
    color: var(--color--dimgray);
    text-decoration: none;
}
.header__navbar--options:hover{
    padding: 0.5rem 0.7rem;
    border-radius: 3rem;
    background-color: var(--color--lightgray);
    color: var(--color--white);
}
.header__userbox{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.header__username{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4.8rem;
    font-family: var(--font-main);
    color: var(--color--dimgray);
}
.header__balancebox{
    width: 11rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2.8rem;
    padding: 0 0.7rem;
    border: 0.3rem solid var(--color--silver);
    border-radius: 2rem;
    background-color: var(--color--lightgray);
}
.header__balancebox--balance{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4.8rem;
    font-family: var(--font-main);
    color: var(--color--dimgray);
}
.header__balancebox--icon{
    width: 3rem;
}
.header__cover{
    width: 96%;
    height: 23rem;
    margin-top: 2rem;
}
.header__title{
    position: absolute;
    bottom: 5rem;
    left: 10%;
    font-size: 6.4rem;
    font-family: var(--font-main);
    font-weight: 700;
    line-height: 8rem;
    color: var(--color--white);
}